////////////////////////////////////////////////////////////////////////////////
// *
// * Forms: radios
// *
////////////////////////////////////////////////////////////////////////////////


// * Grouping of items
// =============================================================================

// see: _checkboxes.scss


// * Single item (input + label)
// =============================================================================

// see also: _checkboxes.scss


// -- custom radiobuttons
//    set checked via background-color or box-shadow

.form__element.form-type--radio {
  input[type="radio"] {
    top: rem(5);
  }
}

input[type="radio"] {
  @include square(rem(14));
  border-radius: 50%;
  background: hsl(var(--clr-white));
  // background-color: hsl(var(--clr-white));
  box-shadow: none;
  transition: background-color $easing .1s, border-color $easing .1s, box-shadow $easing .1s;

  &:checked {
    background: hsl(var(--clr-form-active));
    // background-color: hsl(var(--clr-form-active));
    box-shadow: inset 0 0 0 rem(3.5) hsl(var(--clr-white));
  }

  &:disabled:checked {
    background: hsl(var(--clr-form-disabled));
    // background-color: hsl(var(--clr-form-disabled));
    box-shadow: inset 0 0 0 rem(3.5) hsl(var(--clr-white));
  }
}
