////////////////////////////////////////////////////////////////////////////////
// *
// * Search results
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.node_search-results__item {
  display: block;
  margin: 0;
  padding: var(--gap-md) 0;
  border-bottom: 1px solid hsl(var(--clr-border));

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0 none;
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  //

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  //

}
