////////////////////////////////////////////////////////////////////////////////
// *
// * Tables
// *
////////////////////////////////////////////////////////////////////////////////


// * Tables: general styling
// =============================================================================

table {
  table-layout: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  //border: 1px solid hsl(var(--clr-border));
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  // striped table (when class is aded by user, eg in CKE)
  &.is-striped tbody {
    tr:nth-child(odd) {
      background: hsl(var(--clr-border));

      td {
        //border-right: 1px solid hsl(var(--clr-white));
        //border-left: 1px solid hsl(var(--clr-white));
        //
        //&:first-child {
        //  border-left: 1px solid hsl(var(--clr-border));
        //}
        //
        //&:last-child {
        //  border-right: 1px solid hsl(var(--clr-border));
        //}
      }
    }
  }
}

// by default: styling for headings in columns
th {
  padding: rem(13) rem(10);

  // headings in a column
  //border: 1px solid hsl(var(--clr-spot-1));
  //border-right: 1px solid hsl(var(--clr-white));
  //border-left: 1px solid hsl(var(--clr-white));

  @include font-size(20,26);
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  color: hsl(var(--clr-spot-1));
  //background: hsla(var(--clr-spot-1), .1);

  //&:first-child {
  //  border-left: 1px solid hsl(var(--clr-spot-1));
  //}
  //
  //&:last-child {
  //  border-right: 1px solid hsl(var(--clr-spot-1));
  //}
}

td {
  padding: rem(13) rem(10);
  //border-bottom: 1px solid hsl(var(--clr-border));
  //border-right: 1px solid hsl(var(--clr-border));
  //border-left: 1px solid hsl(var(--clr-border));
  vertical-align: top;
}

// styling headings in rows
thead,
tfoot {

  th {
    //border-right: 1px solid hsl(var(--clr-white));
    //border-left: 1px solid hsl(var(--clr-white));
    //background: hsl(var(--clr-spot-1));

    //&:first-child {
    //  border-left: 1px solid hsl(var(--clr-spot-1));
    //}
    //&:last-child {
    //  border-right: 1px solid hsl(var(--clr-spot-1));
    //}
  }
}

thead {
  th {
    border-bottom: 2px solid hsl(var(--clr-spot-1));
  }
}

tbody {
  th {
    border-right: 2px solid hsl(var(--clr-spot-1));
  }

  td {
    padding: rem(13) rem(10);
  }
}

tr {
  // striped rows (generated by Drupal)
  &.odd {
    background: hsl(var(--clr-border));

    td {
      //border-right: 1px solid hsl(var(--clr-white));
      //border-left: 1px solid hsl(var(--clr-white));
      //
      //&:first-child {
      //  border-left: 1px solid hsl(var(--clr-border));
      //}
      //&:last-child {
      //  border-right: 1px solid hsl(var(--clr-border));
      //}
    }
  }
}

caption {
  padding-top: var(--gap-sm);
  padding-bottom: var(--gap-sm);
  text-align: left;
  font-style: italic;
  // caption-side: top;
  color: hsl(var(--clr-gray));
}


// ** responsive tables (as used page content)
// =============================================================================

// -- option to reformat or to use a scrollbar: "reformatted" or "scroll"
//    where possible, classes are added via tpl's or templating functions
//    otherwise, it's via JS

.table-responsive {

  &.is-reformatted {
    // -- most used, eg. in Commerce tables
    @include table-responsive("reformatted");
  }
  &.has-scroll {
    // -- use in CKE because safest
    @include table-responsive("scroll");
  }
}

// * Styling text in CKE
// =============================================================================

.text-long {

  table {
    margin-bottom: var(--gap-md);

    &.no-margin {
      margin-bottom: 0;
    }
  }
}
