{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}

{% embed "@%theme_prefix%-cb-molecules/002a-image/_cb-image.twig" with {
    label: label,
    configuration: configuration,
    block_type: block_type,
    bem_block_modifiers: bem_block_modifiers,
    bem_block_extra: bem_block_extra,
  } %}

  {% block block_content %}

    {% if storybook_labelled %}<div class="storybook__content__label storybook__content__label--layout-builder">{{label}}</div>{% endif %}

    {# custom template is wrapping the image in a link field #}
    {% if fields.link.image_wrapper_url %}
      <a class="cb-image__link" target="{{ fields.link.image_wrapper_url_target }}" href="{{ fields.link.image_wrapper_url }}" title="{{fields.link.image_wrapper_title}}">
    {% endif %}

      {# media field #}
      {% include "@%theme_prefix%-atoms/media/styleguide/media--field.twig" with {
        type: fields.media.type,
        label_hidden: fields.media.label_hidden,
        field_name: fields.media.field_name,
        field_type: fields.media.field_type,
        bem_field_modifiers: fields.media.bem_field_modifiers,
        bem_field_extra: fields.media.bem_field_extra,
        attributes: fields.media.attributes,
        reference: fields.media.reference,
      } %}
      {# End media field #}

    {% if fields.link.image_wrapper_url %}
      </a>
    {% endif %}

    {# <div class="field field--type-entity-reference field--label-hidden">
      <article class="contextual-region media media--type-image">
        {% embed "@%theme_prefix%-atoms/00-field/_field.twig" with {
          field_name: fields.image.field_name,
          field_type: fields.image.field_type,
          bem_field_modifiers: fields.image.bem_field_modifiers,
          bem_field_extra: fields.image.bem_field_extra,
          attributes: fields.image.field_attributes,
          label_display: fields.image.label_display,
        } %}

          {% block field_content %}
            {% include "@%theme_prefix%-atoms/04-images/styleguide/blazy-responsive.twig" with {
              label_display: fields.image.label_display,
              field_name: fields.image.field_name,
              field_type: fields.image.field_type,
              field_attributes: fields.image.field_attributes,
              settings: fields.image.settings,
              bem_field_modifiers: fields.image.bem_field_modifiers,
              bem_field_extra: fields.image.bem_field_extra,
              blazy_bem_block: fields.image.blazy_bem_block,
              blazy_bem_modifiers: fields.image.blazy_bem_modifiers,
              blazy_attributes: fields.image.blazy_attributes,
              image_src: fields.image.image_src,
              image_alt: fields.image.image_alt,
              image_srcset: fields.image.image_srcset,
              image_sizes: fields.image.image_sizes,
              image_bem_modifiers: fields.image.image_bem_modifiers,
              image_bem_extra: fields.image.image_bem_extra,
              attributes: fields.image.image_attributes,
            } %}
          {% endblock %}

        {% endembed %}
      </article>
    </div> #}

    {# link field #}
    {# {% include "@%theme_prefix%-atoms/01-links/00-link/styleguide/link-field.twig" with {
      label: fields.link.label,
      label_hidden: fields.link.label_hidden,
      field_name: fields.link.field_name,
      field_type: fields.link.field_type,
      bem_field_modifiers: fields.link.bem_field_modifiers,
      bem_field_extra: fields.link.bem_field_extra,
      attributes: fields.link.attributes,
      link_content: fields.link.link_content,
      link_url: fields.link.link_url,
      link_attributes: fields.link.link_attributes,
      no_link: fields.link.no_link,
    } %} #}
    {# Endlink field #}

  {% endblock %}{# /End block_content #}

{% endembed %}{# /End embed block #}

