[mysqld]
# Set default authentication to native password
default_authentication_plugin = mysql_native_password

# Enable slow query logging
#long_query_time=1
#slow_query_log=1
#slow_query_log_file=/dev/stdout
