////////////////////////////////////////////////////////////////////////////////
// *
// * Forms: checkboxes
// *
////////////////////////////////////////////////////////////////////////////////


// * Grouping of items
// =============================================================================

// same styling as a form-item

.form__group--checkboxes,
.form__group--radios {
  padding-left: var(--gap-sm);
  width: 100%;
}


// * Single item (input + label)
// =============================================================================

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  position: relative;
  top: rem(5);
  display: inline-block;
  margin: 0 rem(5) 0 0;
  padding: 0;
  border: 1px solid hsl(var(--clr-form-border));
  border-radius: 0;
  vertical-align: top; // to make sure checked marks are aligned properly with text
  background: hsl(var(--clr-white));
  outline: none;
  transition: border-color $duration $easing, background-color $duration $easing;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 0;
    //border-color: hsl(var(--clr-form-active-border));
  }

  &:disabled {
    opacity: .5;
    border-color: hsl(var(--clr-form-border));
    background: hsl(var(--clr-form-disabled-bg));

    &:hover {
      cursor: default;
      border-color: hsl(var(--clr-form-border));
    }

    &:hover + label,
    & + label {
      opacity: .5;
    }
  }

  //&:checked {
  //  border-color: hsl(var(--clr-form-active-border));
  //}

  & + label {
    position: relative;
    display: inline; // inline in order for the text to wrap and the checkmark to properly align
    font-weight: $font-weight-normal;

    .form__label__not-required {
      display: none; // not needed here
    }
  }
}

// -- custom checkboxes
//    set our icon via the label next to it

/* Gin admin theme override */
.ui-dialog [class*="layout-builder"] :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox input {
  &,
  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    opacity: 1;
    @include square(rem(12));
    clip: auto;
    border: 1px solid hsl(var(--clr-form-border));
  }
}

input[type="checkbox"] {
  background-color: hsl(var(--clr-white));
  @include square(rem(12));
  transition: background-color $easing .1s, border-color $easing .1s;

  // HACK! remove checkmark in IE
  &::-ms-check {
    color: transparent;
  }

  // Custom checkbox

  & + label {
    @include font-awesome((icon: $fa-var-check, color: hsl(var(--clr-form-active)), size: 15, element: "before", type: "light"));

    &::before {
      position: absolute;
      left: rem(-21);
      top: 0;
      opacity: 0;
    }
  }

  &:checked + label {
    &::before {
      opacity: 1;
      transition: opacity $easing .1s;
    }
  }

  &:disabled:checked + label {
    &::before {
      color: hsla(var(--clr-form-active), .5);
    }
  }
}


// * Always flow text next to the input
// =============================================================================

// double classes to override the cascade
.form__element.form-type--checkbox,
.form__element.form-type--radio {
  position: relative;
  padding-left: var(--gap-md);
  margin-bottom: 0;

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    left: 0;
    top: rem(6);
  }
}

// ** Smaller checkbox variant
// =============================================================================

// @mixin checkbox-radio-smaller {

//   input[type="checkbox"],
//   input[type="radio"] {
//     border-radius: 3px;
//     @include square(rem(12));

//     & + label {
//       @include font-size(12, 21);

//       &::before {
//         left: -25px;
//         top: 0;
//         font-size: rem(10);
//       }
//     }
//   }

//   input[type="radio"] {
//     border-radius: 50%;

//     &:checked {
//       box-shadow: inset 0 0 0 2px hsl(var(--clr-white));
//     }

//     &:disabled:checked {
//       box-shadow: inset 0 0 0 2px hsl(var(--clr-white));
//     }
//   }

//   .form__element.form-type--checkbox,
//   .form__element.form-type--radio {
//     padding-left: rem(27);
//     padding-top: 0;

//     & input[type="checkbox"],
//     & input[type="radio"] {
//       top: 7px;
//     }
//   }

// }
