{#
/**
 * Available variables:
 *
 * 'example_content': the content of the component (typically text),
 *
 * Available blocks:
 * - example_content - used to replace the content of the component with something other than text
 *   for example: to insert an icon
 */
#}

<div class="example" style="background: black; color: white; padding: 20px; text-align: center">
  {% block example_content%}
    {{example_content}}
  {% endblock %}
</div>

