{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="group video-embed-field-provider-youtube video-embed-field-responsive-video">
  {% block video_content %}
    {{ video_content | raw }}
  {% endblock %}
</div>
