
commands:
  03_drush_install:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/981_drush_install.sh"

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/981_drush_install.sh":
      mode: "000755"
      owner: ec2-user
      group: ec2-user
      content: |
        #!/bin/bash
        wget -O drush.phar https://github.com/drush-ops/drush-launcher/releases/download/0.6.0/drush.phar
        chmod +x drush.phar
        sudo mv drush.phar /usr/local/bin/drush
        rm -- "$0"