
commands:
  04_drush_post_deploy:
    command: |
      mkdir /opt/elasticbeanstalk/hooks/appdeploy/post_deploy
      mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
    ignoreErrors: true

container_commands:
  04_drush_post_deploy_copy:
    command: "mv /opt/elasticbeanstalk/hooks/appdeploy/post_deploy/990_drush_post_deploy.sh /opt/elasticbeanstalk/hooks/appdeploy/post/990_drush_post_deploy.sh"
    leader_only: true
    ignoreErrors: true
  04_drush_post_deploy_remove:
    command: "rm /opt/elasticbeanstalk/hooks/appdeploy/post_deploy/990_drush_post_deploy.sh"
    ignoreErrors: true

files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post_deploy/990_drush_post_deploy.sh":
      mode: "000755"
      owner: ec2-user
      group: ec2-user
      content: |
        #!/bin/bash
        cd /var/app/current/docroot
        . /opt/elasticbeanstalk/support/envvars
        su -s /bin/bash -c "drush sset system.maintenance_mode 1 --strict=0" ec2-user
        su -s /bin/bash -c "drush cr" ec2-user
        su -s /bin/bash -c "drush updatedb -y --strict=0" ec2-user
        su -s /bin/bash -c "drush cim sync -y" ec2-user
        su -s /bin/bash -c "drush cr" ec2-user
        su -s /bin/bash -c "drush sset system.maintenance_mode 0 --strict=0" ec2-user
        rm -- "$0"
