<div class="form__element form-item js-form-item js-form-type-password-confirm form-type-password-confirm js-form-item-password-confirm form-item-password-confirm form-type--password-confirm form__element--password-confirm">
  {% include "@%theme_prefix%-atoms/05-forms/form-label/_form-label.twig" with {
    title: 'Password confirm',
    attributes: {'for': 'edit-password-confirm-pass1'},
    required: "required",
    styleguide: true,
  } %}

  <div class="form__element form-item js-form-item js-form-type-password form-type-password js-form-item-password-confirm-pass1 form-item-password-confirm-pass1 form-type--password form__element--password-confirm-pass1 password-parent">
    {% include "@%theme_prefix%-atoms/05-forms/form-label/_form-label.twig" with {
      title: 'Password',
      required: "required",
      styleguide: true,
    } %}

    {% include "@%theme_prefix%-atoms/05-forms/input/_input.twig" with {
      attributes: {
        class: [
          'password-field', 'js-password-field', 'form-text'
        ],
        size: 60,
        'maxlength': 128,
        name: 'password',
        type: 'password',
        id: 'edit-password-confirm-pass1',
        required: "required",
      },
      styleguide: true,
    } %}

    <div class="password-strength">
      <div class="password-strength__meter">
        <div class="password-strength__indicator js-password-strength__indicator is-good" style="width: 75%;"></div>
      </div>
      <div aria-live="polite" aria-atomic="true" class="password-strength__title">
        Password strength: <span class="password-strength__text js-password-strength__text">Good</span>
      </div>
    </div>
  </div>

  <div class="form__element form-item js-form-item js-form-type-password form-type-password js-form-item-password form-item-password form-type--password form__element--password">
    {% include "@%theme_prefix%-atoms/05-forms/form-label/_form-label.twig" with {
      title: 'Confirm password',
      attributes: {'for': 'edit-password-confirm-pass2'},
      required: "required",
      styleguide: true,
    } %}

    {% include "@%theme_prefix%-atoms/05-forms/input/_input.twig" with {
      attributes: {
        class: [
          'password-confirm', 'js-password-confirm', 'form-text'
        ],
        size: 60,
        'maxlength': 128,
        name: 'password',
        type: 'password',
        id: 'edit-password-confirm-pass2',
        required: "required",
      },
      styleguide: true,
    } %}

    <div aria-live="polite" aria-atomic="true" class="password-confirm js-password-confirm js-password-confirm-message" style="visibility: visible;">Passwords match: <span class="error">no</span></div>
  </div>

  <div class="password-suggestions description" style="">Recommendations to make your password stronger:<ul><li>Make it at least 12 characters</li><li>Add uppercase letters</li><li>Add numbers</li><li>Add punctuation</li></ul></div>

</div>
