{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}

<form>

{% if not attributes %}
<fieldset class="fieldgroup form-fieldset js-form-item form-item js-form-wrapper form-wrapper">
  <legend class="h2">Radio Buttons</legend>
  <div class="fieldgroup form__group--radios">
{% endif %}
    {% for key, radio in radios %}
      {% include "@%theme_prefix%-atoms/05-forms/00-styleguide/_radio-item.twig" with {
        title: radio.title,
        checked: radio.checked,
        title_display: radio.title_display,
        label_attributes: radio.label_attributes,
        required: radio.required,
        disabled: radio.disabled,
      } %}
    {% endfor %}
{% if not attributes %}
  </div>
</fieldset>
{% endif %}

</form>
