{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}

{% embed "@%theme_prefix%-pages/page/_page--master.twig" with {} %}

  {% block pageTabs %}
    {% include "@%theme_prefix%-molecules/menus/styleguide/tabs.twig" with {
      menu_block_bem_block: tabs.menu_block_bem_block,
      menu_block_bem_element: tabs.menu_block_bem_element,
      menu_block_bem_modifiers: tabs.menu_block_bem_modifiers,
      menu_block_bem_extra: tabs.menu_block_bem_extra,
      primary: tabs.primary,
      items: tabs.items,
      has_link_title: tabs.has_link_title,
      label: tabs.label,
      configuration: tabs.configuration,
    } %}
  {% endblock %}

  {% block header %}
    {% include "@%theme_prefix%-organisms/header/styleguide/header.twig" %}
  {% endblock %}

  {% block pageContent %}
    <!-- System Block: holding the page node -->
    <div class="block block--provider-system block--system-main-block block--region-content block-system" aria-label="Main page content">

       <!-- Page node -->
      {% embed "@%theme_prefix%-organisms/00-node/_node.twig" with {
        view_mode: page.content.node.view_mode,
        isPromoted: page.content.node.isPromoted,
        isSticky: page.content.node.isSticky,
        bundle: page.content.node.bundle,
      } %}
        {% block node_content %}

          <div class="storybook__content-section storybook__content-section--layout-builder">
            <div class="text">Layout Builder area</div>
          </div>

        {% endblock %}

      {% endembed %}
    </div>
  {% endblock %}

  {% block pageDoormat %}
    {% include "@%theme_prefix%-organisms/footer/styleguide/doormat.twig" with {
      page: doormatData.page,
      branding: doormatData.branding,
      menu_sitemap: doormatData.menu_sitemap,
      social: doormatData.social,
      contact: doormatData.contact,
    } %}
  {% endblock %}

  {% block pageFooter %}
    {% include "@%theme_prefix%-organisms/footer/styleguide/footer--primary.twig" with {
      page: footerPrimaryData.page,
      copyright: footerPrimaryData.copyright,
      powered: footerPrimaryData.powered,
      menu_footer_primary: footerPrimaryData.menu_footer_primary,
    } %}
  {% endblock %}

{% endembed %}


