{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="table-responsive has-scroll">
  <table class="table--scroll table">
    <caption>swale uuwrecroshas sluuowracr</caption>
    <thead>
      <tr>
        <th class="table__heading-cell">Fruit</th>
        <th class="table__heading-cell">Vitamin A</th>
        <th class="table__heading-cell">Vitamin B1</th>
        <th class="table__heading-cell">Vitamin B2</th>
        <th class="table__heading-cell">Vitamin C</th>
      </tr>
    </thead tabindex="0">
    <tbody tabindex="0">
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Apple</th>
        <td data-title="Vitamin A" class="table__cell">98 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.031 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.047 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Banana</th>
        <td data-title="Vitamin A" class="table__cell">76 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.037 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.086 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Orange</th>
        <td data-title="Vitamin A" class="table__cell">295 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.114 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.052 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Lemon</th>
        <td data-title="Vitamin A" class="table__cell">295 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.114 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.052 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Lime</th>
        <td data-title="Vitamin A" class="table__cell">295 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.114 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.052 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
      <tr class="table__row">
        <th data-title="Fruit" class="table__cell">Pineapple</th>
        <td data-title="Vitamin A" class="table__cell">295 IU</td>
        <td data-title="Vitamin B1" class="table__cell">0.114 mg</td>
        <td data-title="Vitamin B2" class="table__cell">0.052 mg</td>
        <td data-title="Vitamin C" class="table__cell">1000 mg</td>
      </tr>
    </tbody>
  </table>
</div>
