{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="table-responsive has-scroll">
   <table class="table--scroll table">
      <caption>shinit chebrak spocida</caption>
      <thead tabindex="0">
         <tr>
            <th class="table__heading-cell">Cracr tohisw neuodrastis</th>
            <th class="table__heading-cell">Thoprushov spispogop spucoswuw</th>
            <th class="table__heading-cell">Shupuvivob moclufr jibo</th>
            <th class="table__heading-cell">Pipumoco crolisl rephoka</th>
            <th class="table__heading-cell">Mevevugi brededrecocr wruwrachou</th>
         </tr>
      </thead>
      <tbody tabindex="0">
         <tr class="table__row">
            <td data-title="Cracr tohisw neuodrastis" class="table__cell">Vophawetr brututhilec slucreprut</td>
            <td data-title="Thoprushov spispogop spucoswuw" class="table__cell">Gewa spat noph</td>
            <td data-title="Shupuvivob moclufr jibo" class="table__cell">Tuph heli pabreluspe</td>
            <td data-title="Pipumoco crolisl rephoka" class="table__cell">Thicl phajuragum stip</td>
            <td data-title="Mevevugi brededrecocr wruwrachou" class="table__cell">Spagust claluswak shashapr</td>
         </tr>
         <tr class="table__row">
            <td data-title="Cracr tohisw neuodrastis" class="table__cell">Dastawivuhe fregi papiberoguda</td>
            <td data-title="Thoprushov spispogop spucoswuw" class="table__cell">Cotisloduli cratr fruciuupho</td>
            <td data-title="Shupuvivob moclufr jibo" class="table__cell">Wephu rauaruliswi puuashaj</td>
            <td data-title="Pipumoco crolisl rephoka" class="table__cell">Hanuprivacre dukeshoui wrab</td>
            <td data-title="Mevevugi brededrecocr wruwrachou" class="table__cell">Jacraphes brabethuki brusabruf</td>
         </tr>
         <tr class="table__row">
            <td data-title="Cracr tohisw neuodrastis" class="table__cell">Rospul mawitulopat shutipoheb</td>
            <td data-title="Thoprushov spispogop spucoswuw" class="table__cell">Perokovafru baweuanauavu uuwrawidose</td>
            <td data-title="Shupuvivob moclufr jibo" class="table__cell">Slufregu pabravestin phugeslema</td>
            <td data-title="Pipumoco crolisl rephoka" class="table__cell">Rodru juph bijah</td>
            <td data-title="Mevevugi brededrecocr wruwrachou" class="table__cell">Chasp swop brovuchosp</td>
         </tr>
         <tr class="table__row">
            <td data-title="Cracr tohisw neuodrastis" class="table__cell">Uostatrew spichuv phonajiwr</td>
            <td data-title="Thoprushov spispogop spucoswuw" class="table__cell">Trowrotibo daretiputhus swop</td>
            <td data-title="Shupuvivob moclufr jibo" class="table__cell">Hitaresla slamiswo michibrit</td>
            <td data-title="Pipumoco crolisl rephoka" class="table__cell">Clitrebe dureshojetes sobrawohoc</td>
            <td data-title="Mevevugi brededrecocr wruwrachou" class="table__cell">Lisputrojeg pristap hubrusto</td>
         </tr>
         <tr class="table__row">
            <td data-title="Cracr tohisw neuodrastis" class="table__cell">Brokikufru pese benotekumak</td>
            <td data-title="Thoprushov spispogop spucoswuw" class="table__cell">Croj shabr cusl</td>
            <td data-title="Shupuvivob moclufr jibo" class="table__cell">Wrulaswi shustubrac thacl</td>
            <td data-title="Pipumoco crolisl rephoka" class="table__cell">Jisp komikiphebr lophe</td>
            <td data-title="Mevevugi brededrecocr wruwrachou" class="table__cell">Chosho shasep lecrilicitri</td>
         </tr>
      </tbody>
   </table>
</div>
