{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="table-responsive has-scroll">
   <table class="table--scroll table" ="1">
      <caption>chusti boweswaslodr trawabiswa</caption>
      <tbody>
         <tr class="table__row{% if not no_striping %} odd{% endif%}">
            <td class="table__cell">Vagupr raswiw swebr</td>
            <td class="table__cell">Drocruprist vunob croluspe</td>
            <td class="table__cell">Uecufrobride frisp chaspusta</td>
            <td class="table__cell">Nuspejav cushuso machivo</td>
            <td class="table__cell">Uatheclodra doshoho valu</td>
         </tr>
         <tr class="table__row{% if not no_striping %} even{% endif%}"">
            <td class="table__cell">Lapr histegudoced drina</td>
            <td class="table__cell">Sliu mamocr mathewraget</td>
            <td class="table__cell">Spuwri swaswoshesl retauodrad</td>
            <td class="table__cell">Pravuta crekepujufr cathadris</td>
            <td class="table__cell">Lekiswalid mapi brar</td>
         </tr>
         <tr class="table__row{% if not no_striping %} odd{% endif%}"">
            <td class="table__cell">Woclarojucl gamilur uicru</td>
            <td class="table__cell">Thidis trura drisleve</td>
            <td class="table__cell">Miuebr dedabrusl broj</td>
            <td class="table__cell">Shebram chihom swus</td>
            <td class="table__cell">Gechesw tukade swim</td>
         </tr>
         <tr class="table__row{% if not no_striping %} even{% endif%}"">
            <td class="table__cell">Voclecluslas judrephib crupeswuf</td>
            <td class="table__cell">Maspomaswamu kekiwruwumi pokachucomec</td>
            <td class="table__cell">Vimidriw thobramucedr salechaw</td>
            <td class="table__cell">Jetric cref chirishogush</td>
            <td class="table__cell">Pheve motoswenitas shotas</td>
         </tr>
         <tr class="table__row{% if not no_striping %} odd{% endif%}"">
            <td class="table__cell">Jabruspi jicrujajali phaclunagis</td>
            <td class="table__cell">Dotisuk phidumephef levephakou</td>
            <td class="table__cell">Wrepronodiha kastepugiv thestek</td>
            <td class="table__cell">Duca potropitridr pomuu</td>
            <td class="table__cell">Braswa metr pruvau</td>
         </tr>
      </tbody>
   </table>
</div>
