////////////////////////////////////////////////////////////////////////////////
// *
// * Search results
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.node_search-results {
  display: block;
  margin: 0 0 var(--gap-md) 0;
  padding: 0;
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  //

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  //

}
