<div class="label-value-item">
    <label class="label-value-item-label">{{ label }}<span class="label-value-item-separator">:</span></label> <span class="label-value-item-value">{{ value }}</span>
</div>
