<div class="title-description-item">
    <{{ wrapper }} class="title-description-item-title">{{ title }}</{{ wrapper }}>
    <span class="title-description-item-description">{{ description }}</span>
</div>
