{#
/**
 * Available variables:
 * - icon_name - the name of the icon (original individual icon SVG file name without extention)
 * - icon_title - the title for the icon (for accessability, if false falls back on the capitalized name)
 * - icon_classes - an array of class names (optional), eg. modifiers like 'rs-icon--xl'
 */
#}

{# Inline SVG: Please read the documentation in the Image Atom for info on how to use this #}

<a href="#!" class="rs-icon-link">
  {{ icon(icon_name, icon_title, icon_classes) }}
  A sample link with the {{icon_name}}-icon
</a>

