<div class="header-top">
  <div class="container">
    {% block top %}
      {{ page.header_top }}
    {% endblock %}
    {% block top_nav %}
      {{ page.header_top_nav }}
    {% endblock %}
  </div>
</div>
