////////////////////////////////////////////////////////////////////////////////
// *
// * Info block: doormat
// *
// *
////////////////////////////////////////////////////////////////////////////////


// *
// ===========================================================================

.block--type-cb-image {

  &.block--region-doormat {
    //
    .field--name-field-cb-media {
      margin-bottom: rem(10);

      img {
        width: 100%;
        max-width: rem(167);
        margin: 0 auto;
      }
    }

    .field--name-body {
      text-transform: uppercase;

      > :last-child {
        margin-bottom: 0;
      }
    }
    .field--name-field-cb-media + .field--name-body {
      margin-top: rem(10);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .block--type-cb-image {

    &.block--region-doormat {
      .field--name-field-cb-media {
        img {
          margin: 0;
        }
      }
      .field--name-field-cb-media + .field--name-body {
        margin-top: rem(15);
      }
    }
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop and wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  //   .block--type-site-branding {

  //     &.block--region-doormat {
  //       .field--name-field-cb-media {
  //         margin-bottom: rem(30);
  //       }
  //     }
  //   }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // .block--type-site-branding {

  //   &.block--region-doormat {
  //     .field--name-field-cb-media {
  //       margin-bottom: rem(40);
  //     }
  //   }
  // }

}
