<li class="field-cb-menu-overview__item">
    <div class="field-cb-menu-overview__item__visual">
        {{ image }}
    </div>
    <div class="field-cb-menu-overview__item__content">
        <h3 class="field-cb-menu-overview__item__title">{{ title }}</h3>
        <div class="field-cb-menu-overview__item__description">{{ description }}</div>
    </div>
    <div class="field-cb-menu-overview__item__link">
        {{ link }}
    </div>
</li>
