{% if page.footer %}
<footer class="footer footer--primary" role="contentinfo">
  <div class="container">
    {% block footer %}
    {{ page.footer }}
    {% endblock %}
  </div>
</footer>
{% endif %}
