////////////////////////////////////////////////////////////////////////////////
// *
// * Section: simple header
// *
// * This is a 1-col section that contains the Node title + breadcrumb
// * out of the box.
// * Breadcrumb is optional (can be removed) and other elements added
// * to build custom headers
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.cb-header {

  // ** header content

  .block--type-cb-title {
    margin: 0;

    h1 {
      margin-bottom: 0;
    }

    // ** When using the subtitle,
    //    put margins or paddings on the heading-tag, NOT on the field wrapper itself.
    //    Because of a bug, the field wrapper itself gets rendered, even if there is no heading text filled in
    //    so this is a way to prevent that div from taking up space
    h2 {
      margin-top: var(--gap-layout-vert);
    }
  }

  // ** We have 2 subregions available if we need to add extra groupings
  //    one already contains the breadcrumbs, the other is empty

  .layout__subregion-01 {
    margin-top: rem(10);
  }

  // ** In case we have a Title block with the extra fields filled in,
  //    we can add some variant styling
  .cb-title--extended {

    // text-align: center;

    // .field--name-field-cb-button {
    //   justify-content: center;
    //   text-align: center;
    // }

    // & + .layout__subregion-01 {
    //   margin-top: var(--gap-layout-vert);
    // }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .cb-header {
    //
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .cb-header {
    //
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // ** need smaller spacing on headers

  .cb-header {
    padding-top: var(--gap-layout-vert-top-small);
    padding-bottom: var(--gap-layout-vert-bottom-small);
  }

}
