////////////////////////////////////////////////////////////////////////////////
// *
// * Content Block: form
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.block--type-cb-form {

  .webform-submission-form {
    //
  }

  // -- captcha
  .captcha {
    width: 100%;
  }

  // -- text with button

  .form-type--webform-markup,
  .form-type--processed-text {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: rem(50);
    min-height: rem(40);

    @if ($structuralOnly == false) {
      @include font-awesome((icon: $fa-var-info-circle, size: 30, type: solid));
    }

    &::before {
      position: absolute;
      left: rem(10);
      top: rem(5);
    }

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // distance & alignment
  // should be the same as for buttons in the other Content Blocks
  .form-actions {

    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--gap-cb-buttons-vert) - var(--gap-cb-button-vert));
    text-align: left;

    .button {
      margin: var(--gap-cb-button-vert) var(--gap-cb-button-hor) 0 0;
    }
  }

  // ***************************************************************************
  // Color changes based on bg of the section
  // ***************************************************************************
  @if ($structuralOnly == false) {
    .layout--bg--spot-1 &,
    .layout--bg--spot-2 & {
      color: hsl(var(--clr-white));

      #{$text-inputs-list},
      textarea {
        border: 0 none;
      }

      form small,
      form .description,
      .form__element__description,
      .password-suggestions,
      .webform-component--mandatory-fields p,
      .form__element ~ p {
        color: hsl(var(--clr-white));

        li::before {
          background-color: hsl(var(--clr-white));
        }
      }

      fieldset legend,
      .form-fieldset legend {
        color: hsl(var(--clr-white));
      }

      input[type="radio"],
      input[type="checkbox"] {
        border: 0 none;
      }
    }
  }

}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .block--type-cb-form {

    .webform-flexbox {
      margin: var(--gap-layout-vert) rem(-7);
    }

    .webform-flex--container {
      margin: 0 rem(7);
    }
  }

}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  //

}
