{#
/**
 * For styleguide only
 *
#}

{% if cke %}
<div class="text-long">
{% endif %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/04-images/styleguide/figure.twig" with {
    image_figure_bem_extra: figures[0].image_figure_bem_extra,
    image_url: figures[0].image_url,
    image_src: figures[0].image_src,
    image_alt: figures[0].image_alt,
    image_caption: figures[0].image_caption,
  } %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/04-images/styleguide/figure.twig" with {
    image_figure_bem_extra: figures[1].image_figure_bem_extra,
    image_url: figures[1].image_url,
    image_src: figures[1].image_src,
    image_alt: figures[1].image_alt,
    image_caption: figures[1].image_caption,
  } %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/04-images/styleguide/figure.twig" with {
    image_figure_bem_extra: figures[2].image_figure_bem_extra,
    image_url: figures[2].image_url,
    image_src: figures[2].image_src,
    image_alt: figures[2].image_alt,
    image_caption: figures[2].image_caption,
  } %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

  {% include "@%theme_prefix%-atoms/02-text/text/_paragraph.twig" with {
      paragraph_content: paragraph_content
    }
  %}

{% if cke %}
</div>
{% endif %}

