{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
/**
 * Available variables:
 * - heading_display - whether the title is visible or not
 * - heading_level - the header level 1-6 (produces h1, h2, etc.)
 * - heading_id - and id for the heading (pass a string)
 *
 * - heading_blockname - blockname prepended to the base classname
 * - heading_element - the base class
 * - heading_modifiers - array of modifiers to add to the base classname
 *
 * - heading - the content of the heading (typically text)
 *
 * - heading_url - (optional) the url the heading should poing to
 * - heading_link_attributes - key/value attributes to pass to link
 * - heading_link_block - override the link block name (defaults to heading_block)
 * - heading_link_element - override the link base class
 * - heading_link_modifiers - override the link modifiers
 */
#}

{% if cke %}
<div class="text-long">
{% endif %}

  {% include "@%theme_prefix%-atoms/02-text/00-headings/_heading.twig" with {
      value.heading_display ? 'heading_display': value.heading_display,
      value.heading_level ? 'heading_level': value.heading_level,
      value.heading ? 'heading': value.heading,
      value.heading_id ? 'heading_id': value.heading_id,
      value.heading_url ? 'heading_url': value.heading_url,
      value.bem_heading_block ? 'bem_heading_block' : value.heading_block,
      value.bem_heading_element ? 'bem_heading_element' : value.heading_element,
    }
  %}

  {{ text | raw }}

{% if cke %}
</div>
{% endif %}
